/*
#344973
#EBEFF2
#73462D
#BFA08E
#0D0D0D


#2E34A6
#272C8C
#1C1F59
#D5DCF2
#5B7BA6


.roboto-<uniquifier> {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/


@media screen and (max-width: 630px){
    header nav#nav-esq{
        justify-content: space-between;
    }

    header nav#nav-esq ul#icone-menu{
        display: flex;
    }

    header nav#nav-esq ul#icone-menu li#menux{
        display: none;
    }


    header nav#nav-esq ul#menu-principal{
        flex-direction: column;
        width: 80%;
        height: 85vh;
        background: linear-gradient(
  to bottom,
  rgb(46, 65, 102),
  rgba(67, 83, 118, 1),
  rgba(83, 92, 121, 1),
  rgba(98, 102, 124, 1),
  rgba(114, 112, 127, 1),
  rgba(129, 121, 130, 1),
  rgba(145, 131, 133, 1),
  rgba(160, 141, 136, 1),
  rgba(176, 150, 139, 1),
  rgba(191, 160, 142, 1)
);
        padding-top: .5rem;
        position: absolute;
        top: 9.3rem;
        right: 0;
        z-index: 999;
        display: none;

    }

    header nav#nav-esq ul#menu-principal li{
        margin: .5rem;
        margin-left: 1rem;
    }

    header nav#nav-esq ul#menu-principal li a{
        font-size: 120%;
    }
}

